{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./resources/css/app.css",
  "tailwindFunctions": ["clsx"],
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true,
  "printWidth": 150
}
